@import "./variables";


/* helper classes */
.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.text-help {
  border-bottom: thin dotted;
  cursor: help;
}

.row-vertical-center {
  display: flex;
  align-items: center;
}

.row-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.border-bottom-1-solid {
  border-bottom: 1px solid;
}

.margin-bottom-negative-1 {
  margin-bottom: -1px;
}

/* layout & theme */
html, body {
  height: 100%;
  background-color: $body-background-color;
}

footer {
  background-color: $footer-background-color;
}

.popover {
  max-width: 500px !important;
}

/* word wrapping for long strings*/
h1, h2, h3, h4, h5, h6, div, span, p {
  //noinspection CssInvalidPropertyValue
  word-break: break-word;
}

.content-elem-bg-color {
  background-color: $content-elem-bg-color;
}

/*todo fix this hack - minimum container height */
.min-height-51rem {
  min-height: 51rem;
}

/* fix for images inside preview of uploaders */
.react-dropzone-s3-uploader > img {
  max-height: 100%;
}

.image-uploader-preview {
  position: absolute;
  max-height: 100%;
}

.btn-extra-size {
  font-size: $btn-extra-size-font-size;
}

.hidden-link, .hidden-link:hover, .hidden-link:active {
  color: $hidden-link-color;
  cursor: text;
}

/* our basic design components */

@mixin makePrimaryGradient ($use) {
  $ms-linear-gradient: -ms-linear-gradient(45deg, $lighter-ico-color 0%, $darker-ico-color 100%); /* ie10+ */
  $linear-gradient: linear-gradient(45deg, $lighter-ico-color 0%, $darker-ico-color 100%);

  @if ($use == 'background') {
    background: $ms-linear-gradient;
    background: $linear-gradient;
  } @else if ($use == 'border') {
    // not needed now
  }
}

.bg-primary-gradient {
  @include makePrimaryGradient('background');
}

.btn-ico-primary {
  @include makePrimaryGradient('background');
  font-size: $font-size-h5;
  border-radius: 23px;
  padding: 0 $btn-horizontal-padding;
  height: 4rem;
  color: white;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  /* fixing basic .btn bootstrap class, where transparent border makes bad visual effect */
  border-left: none;
  border-right: none;

  &:hover,
  &:focus {
    color: white;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}


.btn-ico-secondary {
  font-size: $font-size-h5;
  max-height: 22px;
  padding: 0;
  border: 0px;
  color: $darker-ico-color;

  &:hover,
  &:focus {
    color: $darker-ico-color;
  }
}

.btn-ico-secondary-wrapper-outer {
  @include makePrimaryGradient('background');
  height: 4rem;
  border-radius: 25px;
  padding: 3px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 1em;
  }

  @media (min-width: $screen-sm-min) {
    max-width: 62%;
  }

  @media (min-width: $screen-md-min) {
    max-width: 100%;
  }
}

.btn-ico-secondary-wrapper-inner {
  height: 3.4rem;
  border-radius: 23px;
  background-color: $ico-box-background-color;
}

.ico-box {
  // overrided from rubix theme
  padding: 10px ($grid-gutter-width / 2);
  &:hover {
    padding: 10px ($grid-gutter-width / 2);
  }

  background-color: $ico-box-background-color;

  .fixed-height {
    line-height: 2.4rem;
    max-height: 9.6rem;;
  }
}

.ico-third-part-details {

  @media (min-width: $screen-md-min) {
    min-height: 22rem;
  }
}

.ico-profile-box {
  background-color: $ico-box-background-color;

  .fixed-height {
    line-height: 2.4rem;
    max-height: 9.6rem;
  }
}

.badge-ico {
  background-color: white;
  color: $darker-ico-color;
}

/* category navigation component */
#category-nav {

  li a {
    color: white;
    height: 6rem;

    border: none;
    border-radius: 0;
    margin-right: 0;

    display: flex;
    align-items: center;
  }

  li.active {
    a {
      background-color: white;
      color: $darker-ico-color;
    }
    .badge-ico {
      font-weight: bold;
      border: 2px solid $darker-ico-color;
    }
  }

  @media (max-width: $grid-float-breakpoint - 1) {
    & {
      padding-bottom: 4rem;
    }

    li {
      width: 100%;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    width: 100%;
  }
}

#category-nav-wrapper {
  min-height: initial;
  border: none;
  border-radius: initial;
  color: white;

  .ico-logo {
    width: 15rem;
    margin-left: 1.5rem;
    opacity: 0;
    transition: opacity 1s;
  }

  .sticked {
    position: fixed;
    width: 100%;
    z-index: 65300;
    top: 0rem;
    left: 0;
    @include makePrimaryGradient('background');

    .ico-logo {
      opacity: 1;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar-header {
      display: none;
    }
  }

  @media (max-width: $grid-float-breakpoint - 1) {
    .navbar-collapse {
      border-top: solid 2px $navbar-default-bg;
    }
  }

  #mobile-status-bar {
    max-height: 6rem;

    .main-status-title {
      font-weight: bold;
    }

    .icon-bar {
      height: 3px;
      background-color: white;
    }

    .navbar-toggle {
      border-width: 2px;
      &.collapsed {
        border-width: 1px;
      }

      &:hover, &:focus {
        background-color: transparent;
      }
    }

  }
}

.hidden-on-mobile-view {
  @media (max-width: $grid-float-breakpoint - 1) {
    display: none;
  }
}


/* user util navigation component */
#user-util-nav {

  li a {
    color: white;

    &:hover, &:active {
      color: white;
    }
  }

  li.active {
    font-weight: bold;
    a {
      background-color: unset;
    }
  }
}

#top-header {

  &.bg-header-img {
    height: 19rem;
    background-image: url('/header_bg1.jpg');
    background-position: 50%;
    background-size: 80% 400%;
  }

  .opacity-plane {
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
  }
}

.ico-title-label {
  color: $darker-ico-color;
  text-transform: uppercase;
  font-size: $font-size-h5;
  font-weight: bold;
}

.ico-text-value {
  color: $ico-text-value-color;
}

.ico-grey-text-value {
  font-weight: bold;
  text-transform: uppercase;
  color: $ico-grey-color;
  letter-spacing: 2px;
}

.ico-darker-grey-text-value {
  color: $ico-dark-grey-color;
}

.hr-limiter {
  border: 1px solid $ico-grey-color2;
}

.min-height-1-line {
  min-height: $line-height-computed;
}

