@import "./variables";


/* helper classes */
.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.text-help {
  border-bottom: thin dotted;
  cursor: help;
}

.row-vertical-center {
  display: flex;
  align-items: center;
}

.vertical-center {
  display: flex !important;
  align-items: center !important;
}

.border-bottom-1-solid {
  border-bottom: 1px solid;
}

.margin-bottom-negative-1 {
  margin-bottom: -1px;
}

.row-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* layout & theme */
html, body {
  height: 100%;
  background-color: $body-background-color;
}

footer {
  background-color: $footer-background-color;
}

.popover {
  max-width: 500px !important;
}

/* word wrapping for long strings*/
h1, h2, h3, h4, h5, h6, div, span, p {
  //noinspection CssInvalidPropertyValue
  word-break: break-word;
}

.content-elem-bg-color {
  background-color: $content-elem-bg-color;
}

/*todo fix this hack - minimum container height */
.min-height-51rem {
  min-height: 51rem;
}

/* fix for images inside preview of uploaders */
.react-dropzone-s3-uploader > img {
  max-height: 100%;
}

.image-uploader-preview {
  position: absolute;
  max-height: 100%;
}

.btn-extra-size {
  font-size: $btn-extra-size-font-size;
}

/* user util navigation component */
#user-util-nav li.active {
  font-weight: bold;
}

.hidden-link, .hidden-link:hover, .hidden-link:active {
  color: $hidden-link-color;
  cursor: text;
}

.main-fixed-nav-panel {
  position: fixed;
  top: 0;
  z-index: 65300;
}

.main-fixed-nav-panel-placeholder {
  height: 6.5rem;
}

.max-width-22rem {
  max-width: 22rem;
}

/* our basic design components */

@mixin makePrimaryGradient ($use) {
  $ms-linear-gradient: -ms-linear-gradient(45deg, $lighter-ico-color 0%, $darker-ico-color 100%); /* ie10+ */
  $linear-gradient: linear-gradient(45deg, $lighter-ico-color 0%, $darker-ico-color 100%);

  @if ($use == 'background') {
    background: $ms-linear-gradient;
    background: $linear-gradient;
  } @else if ($use == 'border') {
    // not needed now
  }
}

.bg-primary-gradient {
  @include makePrimaryGradient('background');
}

.btn-ico-primary {
  @include makePrimaryGradient('background');
  color: white;
  border-radius: 23px;
  padding-left: 3rem;
  padding-right: 3rem;
  /* fixing basic .btn bootstrap class, where transparent border makes bad visual effect */
  border-left: none;
  border-right: none;

  &:hover,
  &:focus {
    color: white;
  }
}


.btn-ico-secondary {
  max-height: 22px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;

  color: $darker-ico-color;

  &:hover,
  &:focus {
    color: $darker-ico-color;
  }
}

.btn-ico-secondary-wrapper-outer {
  @include makePrimaryGradient('background');
  border-radius: 23px;

  max-height: 30px;
  padding: 3px;
}

.btn-ico-secondary-wrapper-inner {
  border-radius: 23px;
  background-color: $ico-box-background-color;
}

.ico-box {
  background-color: $ico-box-background-color;
}

.ico-profile-box {
  background-color: $ico-box-background-color;
}

.badge-ico {
  background-color: white;
  color: $darker-ico-color;
}

/* category navigation component */
#category-nav {

  li a {
    height: 6rem;

    border: none;
    border-radius: 0;

    display: flex;
    align-items: center;
  }

  li.active {
    a {
      color: $darker-ico-color;
    }
    .badge-ico {
      font-weight: bold;
      border: 2px solid $darker-ico-color;
    }
  }
}

//  /* category navigation component */
//#category-nav li.active .badge-ico {
//  font-weight: bold;
//  border: 2px solid $darker-ico-color;
//}
//
///* category nav component */
//#category-nav li a {
//  height: 5.5rem;
//  display: flex;
//  align-items: center;
//}
