@import "./variables";


/* helper classes */
.cursor-pointer {
  cursor: pointer;
}

.text-help {
  border-bottom: thin dotted;
  cursor: help;
}

.row-vertical-center {
  display: flex;
  align-items: center;
}

.border-bottom-1-solid {
  border-bottom: 1px solid;
}

.margin-bottom-negative-1 {
  margin-bottom: -1px;
}

/* tmp fix */
@media (min-width: $screen-md-min) {
  .tmp-relative-top-minus-5px {
    position: relative;
    top: -5px;
  }
}

.row-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* layout & theme */
html, body {
  height: 100%;
  background-color: $body-background-color;
}

footer {
  background-color: $footer-background-color;
}

.popover {
  max-width: 500px !important;
}

/* word wrapping for long strings*/
h1, h2, h3, h4, h5, h6, div, span, p {
  //noinspection CssInvalidPropertyValue
  word-break: break-word;
}

.content-elem-bg-color {
  background-color: $content-elem-bg-color;
}

/*todo fix this hack - minimum container height */
.min-height-51rem {
  min-height: 51rem;
}

/* fix for images inside preview of uploaders */
.react-dropzone-s3-uploader > img {
  max-height: 100%;
}

.image-uploader-preview {
  position: absolute;
  max-height: 100%;
}

.btn-extra-size {
  font-size: $btn-extra-size-font-size;
}

/* main navigation component */
#main-nav li.active {
  font-weight: bold;
}

.hidden-link, .hidden-link:hover, .hidden-link:active {
  color: $hidden-link-color;
  cursor: text;
}

.main-fixed-nav-panel {
  position: fixed;
  top: 0;
  z-index: 65300;
}

.main-fixed-nav-panel-placeholder {
  height: 6.5rem;
}
